@import "tailwindcss";

@theme {
  --: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}
html,
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

::selection {
  background-color: #189102;
}

@keyframes scan {
  0% {
    top: 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

@keyframes scan {
  100% {
    transform: translateX(100%);
  }
}
