@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

::selection {
  background-color: #189102;
}

@keyframes scan {
  100% {
    transform: translateX(100%);
  }
}
