@import "tailwindcss";

@theme {
  --: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}
html,
body {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

::selection {
  background-color: #189102;
}
